<div class=" main-bg">
    <div class="login-container text-c animated flipInX">
      <div>
          <h1 class="logo-badge"><span class="fa fa-user-circle"></span></h1>
      </div>
          <h3 class="text-darkgreen">Join</h3>
          <p>Thank You</p>
          <br>
      <div class="container-content">
          <form class="margin-t">
  
            <button type="submit" (click)="signIn()" class="btn btn-light form-button button-l margin-b btn-h" style="border: none;">Sign In</button>
  
              <button type="submit" (click)="signUp()" class="btn btn-light form-button button-l margin-b btn-h" style="border: none;">Sign Up</button>
  
          </form>
          <p class="margin-t text-darkgreen"><small> <b> Copyright &copy; 2022 Sakib </b> </small> </p>
      </div>
    </div>
  </div>